#secao-devs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 7rem 4rem 7rem;
}

.devs-titulo{
    padding-bottom: 4rem;
    font-size: 4rem;
}

.card-img-top{
    width: 20rem;
    height: 26rem;
}


.item{
    transition: 0.5s;
    cursor: pointer;
    width: 20rem;
    border-radius: 5px;
    border: 1px solid rgb(106, 0, 148);
    filter: grayscale(0%);
        transition: 
        filter 0.4s ease, 
        transform 0.4s ease,
        box-shadow 0.4s ease;
}

.item:not(:hover) {
    filter: grayscale(100%);
}

.item:hover {
    box-shadow: 0 10px 15px rgba(227, 103, 255, 0.573);
    transform: scale(1.1);
}

.container-cards{
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223 223 223);
}

.card-text{
    color:rgb(106, 0, 148);
}