#secao-hero{
  padding: 0 6rem;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo{
  color: white;
}
.titulo-principal{
  font-size: 12rem;
}
.subtitulo .btn-orcamento{
  padding-left: 19px;
}
.btn-orcamento{
  margin-top: 2rem;
}

.roxo {
  color: rgb(106, 0, 148);
}

.note{
    width: 1000px;
}

.btn-orcamento{
background-color: rgb(106, 0, 148);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 68%;
    transition: 0.3s;
}

.btn-orcamento:hover {
    background-color: rgb(106, 0, 148);
    transform: scale(1.05);
}

.btn-orcamento:active {
    transform: scale(0.95);
}